<?xml version="1.0"?>
<config>
    <modules>
        <KL_GuestWishlist>
            <version>0.1.0</version>
        </KL_GuestWishlist>
    </modules>
    <global>
        <helpers>
            <guestwishlist>
                <class>KL_GuestWishlist_Helper</class>
            </guestwishlist>
        </helpers>
        <models>
            <guestwishlist>
                <class>KL_GuestWishlist_Model</class>
            </guestwishlist>
        </models>
    </global>
    <frontend>
        <routers>
            <guestwishlist>
                <use>standard</use>
                <args>
                    <module>KL_GuestWishlist</module>
                    <frontname>guest-wishlist</frontname>
                </args>
            </guestwishlist>
        </routers>
    </frontend>
</config>